html {
  text-transform: uppercase;
}
.head-title {
  color: chocolate;
  text-align: center;
}
.headlow {
  font-size: 24px;
  text-decoration: underline;
}
.headlow2 {
  text-decoration: line-through;
}
body {
  background-color: #000000;
}
a {
  text-decoration: none;
  display: inline-block;
}
a:hover {
  border: 1px solid red;
}
